<connectionStrings>
  <add name="DapperContext" connectionString="Data Source=WAGNERNOTE\SQLEXPRESS;Initial Catalog=Dapper_Database;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></connectionStrings>
